<%- include("partials/header.ejs") %>
    <section class="add-container">

        <div class="header-container">
            <button onclick="history.back()" class="add-search-btn">Return</button>
            <h2>Add a Book</h2>
            <p>(Only 10 results per search)</p>
        </div>


        <form action="/add" method="POST" class="add-form">

            <div class="search-options">
                <label>
                    <input type="radio" name="searchType" value="title" checked>
                    Title
                </label>

                <label>
                    <input type="radio" name="searchType" value="author">
                    Author
                </label>
            </div>

            <input type="text" name="query" placeholder="Search for a book..." required class="add-input">

            <button type="submit" class="add-search-btn">Search</button>

        </form>

    </section>
    <% if (locals.results) { %>
        <section class="search-feed">
            <% results.forEach(result=> { %>

                <div class="book-row">

                    <div class="book-card">

                        <!-- Book Cover -->
                        <div class="book-img">
                            <img src="<%= result.cover %>">
                        </div>

                        <!-- Book Info -->
                        <div class="book-info">
                            <h3 class="book-title">
                                <%= result.title %>
                            </h3>
                            <p class="book-author">by <%= result.author %>
                            </p>
                            <p class="book-summary">
                                <%= result.year %>
                            </p>
                        </div>

                    </div>

                </div>

                <% }) %>
        </section>
        <% } %>
            <%- include("partials/footer.ejs") %>