<%- include("partials/header.ejs") %>
    <section class="add-container">
        <div class="header-container">
            <button onclick="location.href='/add'" class="add-search-btn">Return</button>
            <h2>Add a Book</h2>
        </div>
        <div class="book-row">
            <div class="book-card">
                <!-- Book Cover -->
                <div class="book-img">
                    <img src="<%= book.book_img %>">
                </div>

                <!-- Book Info -->
                <div class="book-info">
                    <h3 class="book-title">
                        <%= book.title %>
                    </h3>
                    <p class="book-author">by <%= book.authors %>
                    </p>
                    <p class="book-summary">
                        <%= book.year %>
                    </p>
                    <form action="/save" method="post">
                        <textarea name="impression" placeholder="Share your impression..." required
                            class="user-input"></textarea>
                        <textarea name="notes" placeholder="Enter your notes..." required class="user-input"></textarea>
                        <p class="book-rating">⭐ <span><input type="number" name="score" class="add-score"></span> / 10
                        </p>
                        <p class="book-summary">When did you read this book?<span><input type="month" name="data_read"
                                    class="add-date_read"></span></p>
                        <button class="add-search-btn plus-btn" type="submit" name="key" value="add">Save</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="form-container">
        </div>
    </section>
    <script>
        const img = document.querySelector(".book-cover");

        if (window.innerWidth < 600) {
            img.src = img.src.replace("-M.jpg", "-L.jpg");
        }
    </script>
    <%- include("partials/footer.ejs") %>