<%- include("partials/header.ejs") %>

    <section>
        <div class="add-section">
            <a href="/add" class="add-btn">Add Book</a>
        </div>
    </section>

    <section class="book-feed">
        <% if (locals.books) {%>
            <% books.forEach(book=> { %>

                <div class="book-row">

                    <div class="book-card">

                        <!-- Book Cover -->
                        <div class="book-img">
                        </div>

                        <!-- Book Info -->
                        <div class="book-info">
                            <h3 class="book-title">
                                <%= book.title %>
                            </h3>
                            <p class="book-author">by <%= book.author %>
                            </p>
                            <p class="book-rating">⭐ <%= book.rating %> / 5</p>
                            <p class="book-summary">
                                <%= book.quick_summary %>
                            </p>
                        </div>

                    </div>

                </div>

                <% }) %>
                    <% } %>
    </section>

    <%- include("partials/footer.ejs"); %>